.footer-bg {
  background: var(--cor-v2);
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.logo {
  width: 150px;
  height: 120px;
  margin: 50px 0px 0px 65px
}
.nome-oab {
  font-family: var(--font-primaria);
  color: var(--cor-v4);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  margin-top: 10px;
  text-align: center;
}

/* endereco*/
.footer-endereco {
  margin: 70px 0px 0px 80px;
 
}
.footer-titulo {
  font-family: var(--font-secundária);
  color: var(--cor-v3);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  padding: 10px 0px 0px 34px;
}
/* os dados do endereco*/
.rota {
  list-style: none;
  font-family: var(--font-primaria);
  color: var(--cor-v4);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.verrota {
  background: var(--cor-v5);
  margin: 10px 0px;
  padding: 6px 20px;
  border: 2px solid var(--cor-v1);
  box-shadow: -1px -1px 2px 0px var(--cor-v1),
    1px 1px 2px 0px var(--cor-v2);
    transition: border 0.4s;
}
.verrota:hover {
  background: var(--cor-v01);
}
.verrota a {
  color: var(--cor-v1);
  text-decoration: none;
  font-family: var(--font-secundária);
  text-transform: uppercase;
}
.footer-contato {
  margin: 70px 250px 0px 0px;
}
.titulo-contato {
  font-family: var(--font-secundária);
  color: var(--cor-v3);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8rem;
  padding: 10px 0px 0px 34px;
}
.footer-contato li {
  list-style: none;
}

.footer-informacoes {
  display: grid;
  gap: 5px;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 0px 40px;
}
.footer-contato a {
  text-decoration: none;
  font-family: var(--font-primaria);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  color: var(--cor-v4);
}

.footer-redes {
display: grid;
display: block;
grid-column-start: 3;
margin: -160px 0px 0px 40px;
}
.footer-copy {
  display: grid;
  grid-column: 1/-1;
  color: var(--cor-v0);
  justify-self: center;
}
@media (max-width: 860px) {
  .footer-bg {
    background: var(--cor-v2);
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .logo {
    margin: 20px 0px 0px 10px;
    padding: 20px 0px 0px 0px;
  }
  .nome-oab {
    margin: 10px 0px 0px 10px;
    font-size: 1rem;
  }
  .footer-titulo {
    font-size: 1.1rem;
    line-height: 1rem;
    padding: 0px 0px 0px 34px;
  }
  .footer-endereco {
    margin: 50px 0px 0px 0px;
    padding: 10px 0px 0px 20px;
  }
  .rota {
    font-size: 1rem;
    line-height: 1.1rem;
    width: 180px;
  }
  .verrota {
width: 80px;
height: 50px;
font-size: 1rem;
  }
.footer-contato{
   margin: 50px 80px 0px 0px;
  padding: 5px 0px 0px 40px;
  }
 
  .footer-copy {
    margin: 0px 15px 20px 10px;  
}
.footer-redes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -160px 240px 0px 80px;
  }
}
@media (max-width: 460px) {
  .footer-bg {
    height: 600px;
    display: flex;
    flex-direction: column;
  }
  .logo {
    margin: 10px 0px 0px 55px;
  }
  .nome-oab {
    margin: 10px 10px 0px 0px;
    font-size: 0.9rem;
    line-height: 0.8rem;
  }

  .footer-titulo{
    font-size: 1rem;
    line-height: 0.7rem;
    margin: -20px 10px 0px 100px;
  }
  .rota{
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin: 10px 10px 0px 70px;
    text-align: center;
  }
  .titulo-contato{
    font-size: 0.8rem;
    line-height: 0.5rem;
    margin: -40px 0px 0px 90px;
  }
  .footer-informacoes a{
    font-size: 0.8rem;
    line-height: 0.5rem;
    display: flex;
    margin: 10px 0px 0px 0px;
    justify-content: center;
  }
  .footer-redes {
    margin: 15px 240px 0px 160px;
  }
  .footer-copy {
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    margin: 20px 0px 0px 55px;
  }
}