body {
  margin: 0;
  padding: 0;
}
/*titulo e formulario*/
.atendimento-bg {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  background: var(--cor-v6);
  height: 560px;
  justify-content: center;
}
/*titulo principal*/
.duvidas {
  margin: 220px  40px 0px 40px;
  font-family: var(--font-primaria);
  color: var(--cor-v1);
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
  text-align: justify;
  width: 700px;
}
/*formulario*/
.tirar-duvidas {
  display: grid;
  margin-top: 30px;
  margin-right: 20px;
  border: 1px solid var(--cor-v3);
  background: var(--cor-v2);
  box-shadow: 1px 1px 1px 1px var(--cor-v3),
    -1px -1px 1px 1px var(--cor-v3);
  border-radius: 5px;
  width: 450px;
  height: 500px;
  gap: 20px;
  justify-content: center;
}
/*titulo do formulario*/
.tirar-duvidas h3 {
  font-family: var(--font-secundária);
  color: var(--cor-v3);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 70px;
}
/*estilizando input do fomulario*/
.input{
  width: 350px;
  height: 50px;
  background-color: var(--cor-v01);
  border-radius: 5px;
  border: 1px solid var(--cor-v3);
  box-shadow: 1px 1px 1px 0px var(--cor-v3),
    -1px -1px 1px 0px var(--cor-v3);
    font-family: var(--font-secundária);
    transition: border 0.4s;
}
.input:hover {
  background: var(--cor-v0);
}
.input::placeholder {
  color:var(--cor-v2);
}
.mensagem {
  width: 302px;
  height: 50px;
  padding: 10px 0px 0px 10px;
  margin-left: 10px;
  transition: border 0.4s;
}

/*botao enviar duvidas do formulario*/
.botao-duvidas {
  width: 160px;
  height: 50px;
  border-color:var(--cor-v5);
  box-shadow: 1px 1px 0.5px 1px var(--cor-v3),
    -1px -1px 0.5px 1px var(--cor-v3);
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 100px;
  background: var(--cor-v6);
  color: var(--cor-v0);
  text-decoration: none;
  font-family: var(--font-secundária);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  transition: border 0.4s;
}
.botao-duvidas:hover {
  background: var(--cor-v1);
}
@media (max-width: 1180px) {
  .duvidas {
    margin: 80px 0px 40px 180px;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    width: 350px;
  }
  .tirar-duvidas {
    margin-left: 60px;
  }
}

@media (max-width: 860px) {
  .atendimento-bg {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    height: 700px;
    justify-content: center;
  }
  .duvidas {
    margin: 30px 30px 40px 100px;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.3rem;
    width: 600px;
  }
  .tirar-duvidas {
    display: grid;
    margin-top: -80px;
    margin-left: 140px;
    width: 550px;
    height: 450px;
    justify-content: center;
  }
  .tirar-duvidas h3 {
    font-size: 1.3rem;
    line-height: 0.66rem;
  }
  .input {
    width: 500px;
    height: 60px;
    padding: 10px 0px 0px 10px;
    margin-left: 5px;
  }
  .mensagem {
    width: 302px;
    height: 50px;
    padding: 10px 0px 0px 10px;
    margin-left: 10px;
  }
  .botao-duvidas {
    margin-left: 170px;  
  }
}

@media (max-width: 460px) {
  .atendimento-bg {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    height: 550px;
    justify-content: center;
  } 
  .duvidas {
    margin: 25px 20px 10px 30px;
    font-size: 1.3rem;
    line-height: 1.5rem;
    width: 350px;
  }
  .tirar-duvidas {
    display: grid;
    margin-top: -50px;
    margin-left: 30px;
    width: 350px;
    height: 350px;
    justify-content: center;
  }
  .input {
    width: 300px;
    height: 40px;
    padding: 10px 0px 0px 10px;
    margin-left: 5px;
  }
  .mensagem {
    width: 300px;
    height: 60px;
    padding: 10px 0px 0px 10px;
    margin-left: 10px;
  }
  .botao-duvidas {
    margin-left: 70px;  
  }
}